* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
  }

  body {
   max-width: 1200px;
   margin: 0 auto;
   font-size: 100%;
   list-style-type: none;
  }
  
  .header {
    background-color: black;
    padding: 20px;
    margin-bottom: 20px;
  }

  .navigation {
   display: flex;
   gap: 20px;
   background-color: indigo;
   padding: 20px;
   margin-bottom: 20px;
  }
  
  .logo, .social, .nav-links {
   background-color: rgb(219, 80, 126);
   width: 20%;
   padding: 10px;
  }

  .nav-links {
    flex: 2;
   }

  .banner {
    background-color: rgb(255, 136, 16);
    padding: 20px;
   }

  .banner h2 {
    background-color: yellow;
    padding: 10px;
   }

  .main {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: black;
   }

  .articles {
    background-color: rgb(132, 80, 181);
    padding: 20px;
    flex: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
   
  .article {
    background-color: rgb(91, 132, 229);
    padding: 10px;
   }

  .articles :last-child {
    background-color: rgb(113, 255, 255);
    grid-column: span 2;
    padding: 10px;
  }

  .publicitades {
    background-color: rgb(255, 43, 152);
    padding: 20px;
   }

  .publicitad {
    background-color: yellow;
    padding: 10px;
    margin-bottom: 10px;
   }

  footer {
    background-color: black;
    padding: 20px;
   }

  footer div {
    background-color: rgb(255, 192, 109);
    padding: 10px;
  }